
/* header, body, #conteneur, #options, p, h1, h2, h3, h4, footer {
  font-family: 'VT323', monospace;
} */


header{
  background-color: #F26619;
  width: auto;
  height: 150px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  font-style: normal ;
  margin: 0px;
  padding: 0px;
}
  

/* .logo{
  width:"200px" ;
  height:"200px";
  opacity:"1";
} */

/* .search-bar{
  margin-left: 1200px;
} */

/* main, #photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#photo{
  opacity: 1;
  padding-left: 50px;
}

body {
  background-color: #C5C6C6;
  background-size: 100% 100%;
  font-family: 'VT323', monospace;
  font-size: 15px;
  font-weight: normal;
  font-style: normal ;
  color: black;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}
  
#conteneur{
  background-color: #ffffff;
}

.class{
  display: flex;
}

#formule{
  background-color: #C5C6C6;
  padding: 50px;
}


#options{
  background-color: #ffffff;
  padding: 80px;
}

/* #formule, #options{
 display:flex;
} */

#option1, #option2{
  display:flex;
}

p{
  background-color: #ffffff;
  padding: 10px;
}


footer{
background-color: #2E3244 ;
height: 150px;
}


