header{
  background-color: #F1895C;
  text-align-last: center;
  padding: 12px;
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
}
header div{
  width: 33%;
}
footer{
  background-color:#2F4558;
  color: #F1895C;
  font-family: 'VT323', monospace 
  
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
header a {

  color:#2F4558 !important;

}

.topnav a:hover {
  background-color: white;
  color: #F1895C;
}

.topnav a.active {
  background-color: #F1895C;
  color: black;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  
}

.topnav input[type="text"] {
  float: left;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}
.topnav input[type="text"] {
  border: 1px solid white;
  
}


#search input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: center;
}

#button-container {
  display:flex;
  margin:2px;
  justify-content: right;
}

#button-inscription {
  background-color: #f6b12d;
  color: white;
  padding: 2px ;
  border-radius: 2px;
  margin-right: 10px;
  
}

#button-connect {
  color: #2F4558;
  padding: 2px ;
  margin-right: 10px;
  
}

#main {
  
  color: white;
  background: #f1f1f1 ;
  background-size:cover ;
  background-position:center ;
  background-repeat: no-repeat;
  
}

#slogan {
  color: #2f4558;
  font-size: 36px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#slider {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}

.slider-image {
  display: none;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  
}

.slider-image.active {
  display: block;
  
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.slider-arrow.prev {
  left: 10px;
}

.slider-arrow.next {
  right: 10px;
}


.character {
  position: absolute;
  width: 50px;
  height: 50px;
  /* Autres styles pour les personnages */
}

#character-container {
  position: relative;
  flex-grow: 1;
}

/* Media Query pour les écrans d'ordinateur */
@media (min-width: 1280px) {
  #main {
    height: calc(100vh - 70px);
  }
}

/* Media Query pour les téléphones en mode portrait */
@media (max-width: 480px) {
  #main {
    height: calc(100vh - 120px);
    font-size: 24px;
  }

  #slogan {
    font-size: 24px;
  }

  #slider {
    width: 90%;
  }

  .slider-image {
    max-width: 100%;
  }

  .slider-arrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}
body{
  margin: 0;
}
