* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

#header {
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#search input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-login {
  background-color: #f1895c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

#button-login1 {
  background-color: #f1895c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #2e3244 ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#slogan {
  font-size: 36px;
  margin-bottom: 20px;
}

#slider {
  width: 80%;
  max-width: 900px;
  margin: 50px 0;
  position: relative;
}

.slider-image {
  display: none;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.slider-image.active {
  display: block;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.slider-arrow.prev {
  left: 10px;
}

.slider-arrow.next {
  right: 10px;
}

#footer {
  background-color: #333;
  padding: 20px;
  color: white;
}

#footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.character {
  position: absolute;
  width: 50px;
  height: 50px;
  /* Autres styles pour les personnages */
}

#character-container {
  position: relative;
  flex-grow: 1;
}

/* Media Query pour les écrans d'ordinateur */
@media (min-width: 1280px) {
  #main {
    height: calc(100vh - 70px);
  }
}

/* Media Query pour les téléphones en mode portrait */
@media (max-width: 480px) {
  #main {
    height: calc(100vh - 120px);
    font-size: 24px;
  }

  #slogan {
    font-size: 24px;
  }

  #slider {
    width: 90%;
  }

  .slider-image {
    max-width: 100%;
  }

  .slider-arrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}
