header{
  background-color: #efa031;
  text-align-last: center;
  padding-top: 12px;
 
  display: flex;
  align-items: center;
  justify-content:space-between;
}
header div{
  width: 33%;
}

#gauche{
  text-align-last: left;
}

.logo{
  height: 80px;
}

footer{
  background-color:#2F4558;
  color: #efa031;
  font-family: 'VT323', monospace;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.topnav {
  overflow: hidden;
}

#footer a {
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
header a {
margin-left:10px ;
margin-right:10px ;

  color:#2F4558 !important;

}

#footer a:hover {
  background-color: white;
  color: #efa031;
}

.topnav a.active {
  background-color: #efa031;
  color: black;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  
}

.topnav input[type="text"] {
  float: left;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}
.topnav input[type="text"] {
  border: 1px solid white;
  
}


#search input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: center;
}

#button-container {
  display:flex;
  margin:2px;
  justify-content: right;
}

#button-inscription {
  background-color: #f6b12d;
  color: black;
  padding: 2px ;
  border-radius: 2px;
  margin-right: 10px;
  
}

#button-login1 {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
#button-login {
  /* background-color: #f6b12d; */
  /* color: white; */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

main {
  
  color: white;
  
}

#slogan {
  font-family: 'VT323', monospace;
  color: #335f8a;
  font-size: 36px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#slider {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}

.slider-image {
  display: none;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  
}

.slider-image.active {
  display: block;
  
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.slider-arrow.prev {
  left: 10px;
}

.slider-arrow.next {
  right: 10px;
}

#footer {
  background-color: #2f4558;  
  color: #ffffff;
  font-family: 'VT323', monospace
}


#footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer a {
  color: #efa031;
  text-decoration: none;
  
}
  @media (min-width: 1280px) {
    #main {
      height: calc(100vh - 70px);
    }
  }
  
  /* Media Query pour les téléphones en mode portrait */
  @media (max-width: 480px) {
    #main {
      height: calc(100vh - 120px);
      font-size: 24px;
    }
    
    #slogan {
      font-size: 24px;
    }
    
    #slider {
      width: 90%;
    }
    
    .slider-image {
      max-width: 100%;
    }
    
    .slider-arrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}
body{
  background: #f1f1f1 ;
  margin: 0;
}
