section{
    font-family: 'VT323', monospace;
    border: 2px double #f26619 ;
    border-radius: 8px ;
    background-color: #f26619;
    width: 300px;
    height: 600px;
    margin: auto;
   padding: 100px;
}

body{
    background-color: #f1f1f1;
}

#inscription{
    background-color: #f6b12d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}